{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block scripts %}
    {{super()}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<div class="limiter">
    <div class="container container-login">
      <div class="wrapper">
        <form class="login-form" id="login" method="post">
            {{login_form.hidden_tag() }}
            {{login_form.csrf }}
          <span class="login-form-logo">
            <i class="fab fa-phoenix-framework"></i>
          </span>
          <span class="login-form-title">Log in</span>
          <div class="form-group">
            {{login_form.email(class="form-control login-input")}}
            <span class="focus-input" data-placeholder="&#xf207;"></span>
          </div>
          <div class="form-group">
            {{login_form.password(class="form-control login-input")}}
            <span class="focus-input" data-placeholder="&#xf191;"></span>
          </div>
          <div class="container-login-btn">
            <input class="btn login-btn" type="submit" value="Login" onmouseout="this.style.color='white'">
        </form>
      </div>
    </div>
 </div>
{% endblock%}
