.ticket-form-wrapper,
.tickets {
  display: none;
}
.dropdown {
    display: inline-block;
  }
  /* i{
    color: #222;
  } */
  .alert {
    margin-top: 10px;
  }
  .panel {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
  }
  
  .header i,
  span.dropdown-toggle,
  .contacts i,
  .contacts {
    color: #fff;
  }
  
  .contacts a {
    text-decoration: none;
    color: #fff;
  }
  
  .contacts a:hover {
    text-decoration: underline;
  }
  
  .contacts {
    padding-top: 25px;
    position: fixed;
    top: 71px;
    bottom: 85px;
    right: 0;
    background-color: #082845;
    color: #fff;
  }
  
  .contacts h6 {
    font-size: 18px;
  }
  
  .contact {
    padding-top: 10px;
  }
  
  .home-icon {
    color: #000;
    /* font-size: 60px; */
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
  }
  
  .navbar span {
    padding-right: 10px;
  }
  
  .tickets {
    padding: 80px 16px 0 0;
  }
  
  .ticket-tables .open-tickets-icon {
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #7c0a02;
  }
  .ticket-tables .in-progress-icon {
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #feb204;
  }
  
  .ticket-tables .closed-icon {
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1cac78;
  }
  
  .panel span {
    font-size: 22px;
    font-weight: bold;
  }
  .dashboard {
    padding-top: 80px;
    bottom: 120px;
    margin-bottom: 80px;
  }
  
  .tickets {
    margin-bottom: 100px;
  }
  
  .navbar,
  .footer {
    background-color: #082845;
    color: #fff;
  }
  
  .footer i {
    color: #fff;
    font-size: 20px;
    padding-left: 10px;
  }
  
  .panel {
    background-color: #082845;
    color: #fff;
  }
  
  #create-ticket,
  #submit-ticket {
    border: none;
    border-radius: 25px;
    align-self: center;
  }
  
  #create-ticket:hover,
  #submit-ticket:hover {
    background-color: #003366;
  }
  
  .card-header,
  .card-footer {
    background-color: #082845;
    color: #fff;
  }
  .card-body {
    background-color: #fff;
    color: #000;
  }
  .severity {
    padding: 8px 20px;
    margin: 2px 30px;
  }
  .nav-tabs {
    margin-left: 15px;
    width: 1063px;
  }
  @media all and (max-width: 767px) {
    .contacts {
      position: static;
      margin-left: 15px;
    }
    .footer,
    .header {
      position: sticky;
    }
    .dashboard,
    .tickets {
      padding-top: 20px;
    }
  }
  